{
  "$schema": "https://json.schemastore.org/swcrc.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true,
      "dts": true,
      "tsx": false,
      "decorators": true
    },
    "baseUrl": "./src",
    "paths": {
      "classes/*": ["classes/*"],
      "models/*": ["models/*"],
      "services/*": ["services/*"],
      "types/*": ["types/*"]
    },
    "target": "es2022"
  },
  "env": {
    "targets": {
      "node": 16
    }
  },
  "module": {
    "type": "es6"
  },
  "minify": true
}
